.site-logo {
  display: block;
  font-family: var(--font-playfair-display);
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

header {
  border-bottom: 1px solid #777;
  padding: 2rem;
}

/* resto do arquivo globals.css */



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: white;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}



h1,
h2 {
  font-family: var(--font-playfair-display);
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}



.site-logo {
  display: block;
  font-family: var(--font-playfair-display);
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

header {
  border-bottom: 1px solid #777;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
